<%- include('../partials/navbar.ejs') %>

<div class="main_section">
    <div class="main_container">
        <div class="table_top">
            <div class="table_title_container">
                <h1 class="table_title">Operating Systems</h1>
                <p class="table_title_info">
                    Total:
                    <%= os.length %>
                </p>
            </div>

            <div class="table_options_container">

                <div class="table_options">
                    <button class="add-new-btn">
                        Add New
                    </button>
                </div>
                <!-- Searchbar -->

                <div class="search_item">
                    <div class="search_container">
                        <form>
                            <button class="search_btn"><i class="fas fa-sliders-h"></i></button>
                            <input type="text" class="search_input" placeholder="Search OS">
                            <button class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <!-- Search Filters-->
                    <div class="search_filters">

                    </div>

                </div>

                <%- include('../partials/pagination.ejs') %>
            </div>

        </div>
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Name</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <% os.forEach(function(o_s){ %>
                    <tr>
                        <td>
                            <input class="form-control" type="text" value="<%= o_s.serial %>" disabled>
                        </td>
                        <td>
                            <input class="form-control" type="text" value="<%= o_s.name %>" disabled>
                        </td>
                        <td class="col-edit">
                            <button class="btn btn-primary" onclick="editRow(this, '<%= o_s.serial %>', '/os')">
                                Edit
                            </button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="scripts/tables.js" crossorigin="anonymous"></script>