<!-- this file contains a table which holds all softwares -->
<%- include('../partials/navbar.ejs') %>

<div class="main_section">
    <div class="main_container">
        <div class="table_top">
            <div class="table_title_container">
                <h1 class="table_title">Software</h1>
                <p class="table_title_info">
                    Total:
                    <%= software_total %>
                </p>
            </div>

            <div class="table_options_container">

                <div class="table_options">
                    <button class="btn btn-primary" onclick="createRow('/hardware')">
                        Add new
                    </button>
                </div>
                <!-- Searchbar -->

                <div class="search_item">
                    <div class="search_container">
                        <form action="?" method="GET">
                            <input type="text" class="search_input" name="search" placeholder="Search">
                            <button class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <!-- Search Filters-->
                    <div class="search_filters">

                    </div>

                </div>

                <%- include('../partials/pagination.ejs') %>
            </div>

        </div>
        <div class="p-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Name</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <% softwares.forEach(function(software){ %>
                    <tr>
                        <td>
                            <input class="form-control" type="text" value="<%= software.serial %>" disabled>
                        </td>
                        <td>
                            <input class="form-control" type="text" value="<%= software.name %>" disabled>
                        </td>
                        <td class="col-edit">
                            <button class="btn btn-primary"
                                    onclick="editRow(this, '<%= software.serial %>', '/software')">
                                Edit
                            </button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="scripts/tables.js" crossorigin="anonymous"></script>