<!-- Front end home page for analyst users -->
<div class="container-fluid">
    <div class="row">
    <%- include('../partials/navbar.ejs') %>
    </div>
</div>
<!--CHART JS-->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script>
    const user_data = <%- JSON.stringify(users) %>;
    const count = <%- JSON.stringify(counted) %>;

    const softwareList = <%- JSON.stringify(pureSoftwareList) %>;
    const countPerSoftware = <%- JSON.stringify(softwareCount) %>;

    const hardwareList = <%- JSON.stringify(hardwareList) %>;
    const countPerHardware = <%- JSON.stringify(hardwareCount) %>;

    const osList = <%- JSON.stringify(osList) %>;
    const countPerOs = <%- JSON.stringify(osCount) %>;

    const statusList = <%- JSON.stringify(statuses) %>;
    const countPerStatus = <%- JSON.stringify(statusCount) %>;

    const problemTypes = <%- JSON.stringify(problemTypes) %>;
    const totalCounts = <%- JSON.stringify(totalCounts) %>;
</script>

<div class="analytics-container">
    <div class="stats_title_container">
        <div class="stats_title"> 
           <h1>Statistics</h1> 
        </div>
    </div>

    <div class="stats_container">
        <div class="stats_table"> 
            <h5 class="text-center">Specialist Problem Allocation</h5>                 
            <table class="table-primary ticket-body ticket_table">
                <thead class="table_headers">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number of tickets</th>
                    <th scope="col">Internal/External</th>                                    
                </tr>
                </thead>

                <tbody class="ticket-body op-ticket-body">
                <% counted.forEach(function(handler){ %>
                    <tr >
                       
                        <th scope="row"><%= handler.id %></th>
                        <td><%= handler.name %></td>
                        
                        <td> <%= handler.count %></td>
                        <td> <%= handler.external == false? 'internal' : 'external' %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <div class="tile"> 
            <p class="graph_title">Problem Per Problem Type</p>
            <div class="graphs">
                <canvas id="problemType"></canvas>
            </div>
        </div>
        <div class="tile"> 
            <p class="graph_title">Commonly Reported Hardware</p>
            <div class="graphs">
                <canvas id="commonHardware"></canvas>
            </div>
        </div>
        <div class="tile"> 
            <p class="graph_title">Status</p>
            <div class="graphs">
                <canvas id="statusDough"></canvas>
            </div>
        </div>
        <div class="tile"> 
            <p class="graph_title">Reported OS</p>
            <div class="graphs">
                <canvas id="reportOsBar"></canvas>
            </div>
        </div>
        <div class="tile"> 
            <p class="graph_title">Commonly Reported Software</p>
            <div class="graphs">
                <canvas id="commonSoftware"></canvas>
            </div>
        </div>
    </div>

</div>

<script src="scripts/analyst.js" crossorigin="anonymous"></script>