<%- include('./partials/employee_navbar.ejs') %>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Job</th>
            <th>Department</th>
            <th>Telephone</th>
        </tr>
    </thead>
    <tbody>
        <% employees.forEach(function(employee){ %>
            <tr>
                <td><%= employee.id %></th>
                <td><%= employee.name %></td>
                <td><%= employee.job %></td>
                <td><%= employee.department %></td>
                <td><%= employee.telephone %></td>
            </tr>
        <% }) %>
    </tbody>
</table>