<!--This page shows all the information relating to a single ticket.-->

<%- include('./partials/navbar.ejs') %>
<%
let isAssignedSpecialist = currentUserId === ticket.handlerId;
%>

<div class="container">
    <div class="m-4 p-4 bg-white rounded-3">
        <div class="d-flex align-items-center justify-content-between">
            <h1 class="d-flex align-items-center">
            <span class="<%= ticket.status %> badge rounded-pill me-2">
                <%= ticket.status %>
            </span>
                Ticket #<%= ticket.ticketId %>
            </h1>
            <% if (isAssignedSpecialist && ticket.status !== "closed") { %>
                <button class="btn btn-danger" onclick="dropTicket(<%= ticket.ticketId %>)">Drop ticket</button>
            <% } else if ((usertype === "specialist" || usertype === "external specialist") && ticket.handlerId === null) { %>
                    <button class="btn btn-primary" onclick="assignToSelf(<%= ticket.ticketId %>)">
                    Assign ticket to myself
                </button>
            <% } %>
        </div>

        <% if (user.type !== 'external specialist') { %>
            <div class="info-section">
                <h3>Employee</h3>
                <table class="table table-light">
                    <tbody>
                    <tr>
                        <th style="width: 30%">Name</th>
                        <td><%= user.name %></td>
                    </tr>
                    <tr>
                        <th>User ID</th>
                        <td><%= user.id %></td>
                    </tr>
                    <tr>
                        <th>Job Title</th>
                        <td><%= user.job %></td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td><%= user.department %></td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td><%= user.telephone %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <% } %>

        <div class="info-section">
            <h3>
                Ticket
                <button type="button" class="btn btn-primary" onclick="editTicketInfo(this, <%= ticket.ticketId %>)">Edit</button>
            </h3>

            <table class="table table-light">
                <tbody>
                <tr>
                    <th style="width: 30%">Specialist</th>
                    <td>
                        <%= specialistName %>
                        <% if (ticket.handlerId !== null) { %>
                            - <%= ticket.handlerId %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th style="width: 30%">Date Created</th>
                    <td>
                        <%=
                        ticket.createdAt.toLocaleString(
                                "en-GB",
                                {
                                    day: "numeric",
                                    month: "numeric",
                                    year: "numeric"
                                }
                        )
                        %>
                    </td>
                </tr>
                <tr>
                    <th>Last Updated</th>
                    <td>
                        <%= lastUpdated.toLocaleString(
                                "en-GB",
                                {
                                    day: "numeric",
                                    month: "numeric",
                                    year: "numeric"
                                }
                        ) %>
                    </td>
                </tr>
                <tr>
                    <th>Hardware</th>
                    <td>
                        <ul class="list-group">
                            <% if (ticket.hardwares.length === 0) { %>
                                <li class="list-group-item">None</li>
                            <% } else { %>
                                <% ticket.hardwares.forEach(hardware => { %>
                                    <li class="list-group-item">
                                        <%= hardware.name %> - <%= hardware.serial %>
                                    </li>
                                <% }); %>
                        </ul>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Software</th>
                    <td>
                        <ul class="list-group">
                            <% if (ticket.softwares.length === 0) { %>
                                <li class="list-group-item">None</li>
                            <% } else { %>
                                <% ticket.softwares.forEach(software => { %>
                                    <li class="list-group-item">
                                        <%= software.name %> - <%= software.serial %>
                                    </li>
                                <% }); %>
                        </ul>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Operating System</th>
                    <td>
                        <ul class="list-group">
                            <% if (ticket.oses.length === 0) { %>
                                <li class="list-group-item">None</li>
                            <% } else { %>
                                <% ticket.oses.forEach(os => { %>
                                    <li class="list-group-item">
                                        <%= os.name %> - <%= os.serial %>
                                    </li>
                                <% }); %>
                        </ul>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Problem Types</th>
                    <td>
                        <ul class="list-group">
                            <% if (ticket.expertises.length === 0) { %>
                                <li class="list-group-item">None</li>
                            <% } else { %>
                                <% ticket.expertises.forEach(expertise => { %>
                                    <li class="list-group-item">
                                        <%= expertise %>
                                    </li>
                                <% }); %>
                        </ul>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td class="editable-text" id="description">
                        <% if (ticket.description != null) { %>
                            <%= ticket.description %>
                        <% } else { %>
                            None
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Notes</th>
                    <td class="editable-text" id="notes">
                        <% if (ticket.notes != null) { %>
                            <%= ticket.notes %>
                        <% } else { %>
                            None
                        <% } %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="info-section">
            <h3>Ticket Log</h3>
            <div class="accordion" id="ticketAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#ticketLog">
                            Show log
                        </button>
                    </h2>
                    <div id="ticketLog" class="accordion-collapse collapse" data-bs-parent="#ticketAccordion">
                        <% if (logs.length === 0) { %>
                            <p class="m-3">No changes yet</p>
                        <% } else { %>
                            <table class="table table-light">
                                <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>New value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <% logs.forEach(log => { %>
                                        <th><%= log.updateDate %></th>
                                        <th><%= log.updateType %></th>
                                        <th><%= log.updateValue %></th>
                                    <% }); %>
                                </tr>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-section">
            <h3>Solutions and Feedback</h3>
            <div class="accordion" id="solutionAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#solutionHistory">
                            Show history
                        </button>
                    </h2>
                    <div id="solutionHistory" class="accordion-collapse collapse"
                         data-bs-parent="#solutionAccordion">
                        <div>
                            <table class="table table-light">
                                <thead>
                                <tr>
                                    <th style="width: 10%">Type</th>
                                    <th style="width: 10%">Time</th>
                                    <th>Solution/Feedback</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% solutionsAndFeedbacks.forEach(sf => { %>
                                    <tr>
                                        <td>
                                            <%= sf[0] %>
                                        </td>
                                        <td>
                                            <%= sf[1].dateTime.toLocaleString(
                                                    "en-GB",
                                                    {
                                                        day: "numeric",
                                                        month: "numeric",
                                                        year: "numeric",
                                                        hour: "numeric",
                                                        minute: "numeric"
                                                    }
                                            ) %>
                                        </td>
                                        <td>
                                            <% if (sf[0] === "Solution") { %>
                                                <%= sf[1].solution %>
                                            <% } else { %>
                                                <%= sf[1].feedback %>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%
        let specialistCanSubmit = ticket.status === "active" || ticket.status === "unsuccessful";
        let userCanSubmit = ticket.status === "submitted";
        if (specialistCanSubmit && usertype === "specialist" && isAssignedSpecialist) { %>
            <div class="info-section">
                <h3>Solution</h3>
                <form>
                    <textarea class="form-control mb-3" placeholder="Add a solution" rows="8"
                              id="solutionText"></textarea>
                    <button type="button" onclick="sendSolution(<%= ticket.ticketId %>)" class="btn btn-primary">
                        Submit
                        solution
                    </button>
                    <button type="button" onclick="closeTicket(<%= ticket.ticketId %>)" class="btn btn-danger">Close
                        ticket
                    </button>
                </form>
            </div>
        <% } else if (userCanSubmit && usertype === "user") { %>
            <div class="info-section">
                <h3>Feedback</h3>
                <form>
                    <textarea class="form-control mb-3" placeholder="Add feedback" rows="8"
                              id="feedbackText"></textarea>
                    <button type="button" onclick="sendFeedback(<%= ticket.ticketId %>)" class="btn btn-primary">
                        Submit
                        feedback
                    </button>
                    <button type="button" onclick="closeTicket(<%= ticket.ticketId %>)" class="btn btn-danger">Close
                        ticket
                    </button>
                </form>
            </div>
        <% } %>
    </div>

</div>

<script>
    let currentUserId = <%= currentUserId %>;
</script>

<script src="../scripts/ticket.js"></script>