<!--This page is used by the admin to manage user accounts such as creating an external specialist.-->

<%- include('./partials/navbar.ejs') %>


<div class="container">
    <div class="m-4 p-4 bg-white rounded-3">
        <h1>User Management</h1>

        <div class="alert alert-danger hide" id="error">Error</div>
        <div class="alert alert-success hide" id="success">Success</div>

        <div class="info-section">
            <h3>Specialist Management</h3>
            <div class="accordion" id="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#ext">
                            Create external specialist
                        </button>
                    </h2>
                    <div id="ext" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <form id="extForm">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                                <div class="mb-3">
                                    <label for="telephone" class="form-label">Telephone</label>
                                    <input type="tel" class="form-control" id="telephone" name="telephone">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <button type="button" onclick="createExtSpecialist()" class="btn btn-primary">Create
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#assign">
                            Assign ticket to specialist
                        </button>
                    </h2>
                    <div id="assign" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <form id="assignForm">
                                <div class="mb-3">
                                    <label for="specialist" class="form-label">Specialist</label>
                                    <select id="specialist" class="form-select" name="specialist">
                                        <option selected>Select a specialist</option>
                                        <% specialists.forEach((s) => { %>
                                            <option value="<%= s.id %>">
                                                <%= s.name %> - <%= s.department %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="ticket" class="form-label">Ticket ID</label>
                                    <select id="ticket" class="form-select" name="ticket">
                                        <option selected>Select a ticket</option>
                                        <% tickets.forEach((t) => { %>
                                            <option value="<%= t.ticketId %>">
                                                <%= t.ticketId %> - <%= t.description %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
                                <button type="button" onclick="assignTicket()" class="btn btn-primary">Assign</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/users.js" crossorigin="anonymous"></script>