<!-- Ticket table for admin, specialist and user. -->

<div class="table_section">
    <div class="table_top">
        <div class="table_title_container">
            <% if (usertype == 'admin') { %>
                <h1 class="table_title">Tickets</h1>
            <% } else { %>
                <h1 class="table_title">Your Tickets</h1>
            <% } %>
            <p class="table_title_info">Total <%= ticket_total %></p>
        </div>
        <div class="table_options_container">
            <!-- Searchbar -->
            <div class="search_item">
                <div class="search_container">
                    <form>
                        <button class="search_btn"><i class="fas fa-sliders-h"></i></button>
                        <input type="text" class="search_input" placeholder="Search Ticket">
                        <button class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <!-- Search Filters -->
                <div class="search_filters">

                </div>
            </div>
            <%- include('../partials/pagination.ejs') %>
        </div>

    </div>

    <table class="ticket_table">
        <thead class="table_headers">
        <tr>
            <th>Status</th>
            <th>ID</th>
            <th>Problem Type</th>
            <th>Title</th>
            <th>Last Updated</th>
            <% if (usertype === 'admin'){ %>
                <th>Handler ID</th>
            <% } %>
        </tr>
        </thead>

        <tbody class="ticket-body op-ticket-body">
        <% tickets.forEach(function(ticket){ %>
            <tr>
                <% if (ticket.isOverdue) { %>
                    <td class="status-col">
                        <i class="fa-solid fa-circle-exclamation overdue-warning"></i>
                        <div class="status-type <%= ticket.status %>"><%= ticket.status %></div>
                    </td>
                <% } else { %>
                    <td> <div class="<%= ticket.status %>"><%= ticket.status %></div></td>
                <% } %>

                <td><%= ticket.ticketId %></td>
                <td> <%= ticket.expertises %></td>
                <td>
                    <a href="/ticket/<%= ticket.ticketId %>">
                        <%= ticket.description %>
                    </a>
                </td>
                <td> <%= ticket.updateDate %></td>
                <% if (usertype === 'admin'){ %>
                    <td> <%= ticket.handlerId %></td>
                <% } %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>